<?xml version="1.0"?>
<!--suppress XmlUnboundNsPrefix -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="MNShuhailey_performance" frontName="MNShuhailey_performance">
            <module name="MNShuhailey_PerformanceDashboard"/>
        </route>
    </router>
</config>
  